.footer {
    position: fixed;
    bottom: o;
    margin: 0 atuo;
}
.container {
  margin-left: 12px;
  margin-top: 12px;
}

.validate {
	float: right;
	margin-right: 120px;
}

.write {
	color: red !important;	
}

.mark {
	color: #009688 !important;
	text-decoration: underline !important;
}

label.error {
	color: red !important;
}
input.error { 
	border: 1px solid red !important; 
	}

.images {
	width: 200px;
	height: 200px;
	margin: 12px;
}


/* 图像显示 */
/* #imagedata1, #imagedata2, #imagedata3, #imagedata4, #imagedata5, #imagedata6 {
	display: inline-block;
}  */

.updateImages {
	display: inline-block;
}

.marked {
 	background-color: #5FB878; 
}

/* 备注部分 */
/* 录单收到有返回 */
#record-fiance, #record-first, #record-final {
	display: none;
}
/* 初审收到有返回 */
#final-back, #final-record {
	display: none;
}
/* 终审收到有返回 */
#fiance-record {
	display: none;
}

/* 验证信息*/ 
.error{
	color:red;
}

/* 列表数据-住房地址 */
#housing {
	width: 220px !important;
}

/* 页面信息需要 */
.unusual {
	width: 160px !important;
}